{% extends "base.html" %}

{% block title %}Pets{% endblock %}
{%block body %}
<div class ="container-fluid">
{% for pet in pets %}
   <span>
        <div>
          <img src="{{pet.photo_url}}" alt="{{pet.name}}" width="300">
        </div> 
        <div>
          <h2>
            {{pet.name}} 
            {% if pet.avaliable == t %}
            is avaliable!
            {% else %}
            is not available :(
            {% endif %}
          </h1>
        </div>
</span>
{% endfor %}
</div>
{% endblock %}